* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

main {
  padding: 10px;
  max-width: 960px;
  margin: 0 auto;
}

header {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
  align-items: center;
}

header a {
  text-decoration: none;
  color: inherit;
}

header a.logo {
  font-weight: bold;
  font-size: 1.4rem;
}

header nav {
  display: flex;
  gap: 10px;
}

.post {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .post {
    grid-template-columns: 0.9fr 1.1fr;
  }
}


.texts h2 {
  margin: 0;
  font-size: 1.5rem;
}

.texts a {
  text-decoration: none;
  color: inherit;
}

.info {
  margin: 6px 0;
  color: #888;
  font-size: 0.7rem;
  font-weight: bold;
  display: flex;
  gap: 10px;
}

.author {
  color: #333;
}

.summary {
  margin: 10px 0;
  line-height: 1.4rem;
}

.login, .register {
  max-width: 400px;
  margin: 0 auto;
}

input {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  padding: 5px 7px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

button {
  width: 100%;
  display: block;
  background-color: #555;
  color: white;
  border: 0;
  border-radius: 5px;
  padding: 7px 0;
}

form button {
  margin-top: 5px;
}

.post-page .image {
  overflow: hidden;
  display: flex;
}

.post-page .image img {
  object-fit: cover;
  object-position: center center;
  width: 100%;
}

post-page a {
  color: #333;
  text-decoration: underline;
}

.post-page h2 {
  text-align: center;
}

.info-post-page {
  display: flex;
  gap: 10px;
  margin: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-post-page time {
  color: gray;
}

.post-page .content p {
  line-height: 1.6rem;
}

.edit-row {
  text-align: center;
}

.edit-btn {
  background-color: #333;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  color: #fff;
  padding: 15px 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  text-decoration: none;
}

a svg {
  height: 24px;
}

a {
  cursor: pointer;
}